<!DOCTYPE html>
<html>
<head>
  <title>Control Device</title>
</head>
<body>
  <h1>Control Panel for: <%= device.name %></h1>
  <p>Topic: <%= device.mqttTopic %></p> <br>

  <form action="/device/<%= device._id %>/control" method="POST">
    <button name="command" value="on">Turn ON</button>
    <button name="command" value="off">Turn OFF</button>
  </form>

  <br>
  <a href="/device">⬅ Back to Devices</a>
</body>
</html>
