<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Devices Details</h1>

    
  <h2><%= foundDevice.name %></h2>

  <p><strong>Description:</strong> <%= foundDevice.deviceId %></p>
  <p><strong>Location:</strong> <%= foundDevice.location %></p>
  <p><strong>Created at:</strong> <%= foundDevice.createdAt %></p>

  <!--  -->

  <a href="/device">Back to All Planets</a>

</body>
</html>

</body>
</html>