<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Devices</h1>

     <a href="/device/new">Add Device</a>
  <ul>
    <% allDevices.forEach(device => { %>  
      <li>
        <strong><%= device.name %></strong> 

        <%= device.deviceId %><br>
        <%= device.location %><br>
        <%= device.createdAt %><br>

      </li>
      <hr>
    <% }) %>
  </ul>

</body>
</html>